.python-version
__pycache__/
*.egg-info/
.idea/

# Pytest cache
.pytest_cache

# Virtual env
/.venv

# Hydra experiments folder
/experiments

# Pybind files
/src/cpp/pybind11
/src/cmake_example.cpython-311-x86_64-linux-gnu.so
