services:
  template_project:
    image: template_project
    container_name: template_project_container
    build:
      context: .
      args:
        UID: ${HOST_UID}
        GID: ${HOST_GID}
        USERNAME: ${HOST_USERNAME}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    command: sleep infinity
    volumes:
      - ..:/workspace/template_project
      - ${HOST_SSH_FOLDER}:/home/${HOST_USERNAME}/.ssh:ro
      - ${HOST_GITCONFIG_FILE}:/home/${HOST_USERNAME}/.gitconfig:ro
